.sec-2 {
  top: 170px;
  position: relative;
  display: flex;
  margin: auto;
  justify-content: center;
}
.s-2-c {
  right: 40px;
  position: relative;
  width: 40%;
}
.s-2-i img {
  width: 307px;
}
.s-2-i {
  display: flex;
  width: 44%;
}
.s-2-c h2 {
  font-size: 35px;
  font-weight: 700;
  color: #002b64;
}
.s-2-c h3 {
  font-size: 16px;
  color: #949494;
  font-weight: 700;
}
.s-2-c p {
  font-size: 16px;
  color: #949494;
  font-weight: 400;
  text-align: justify;
  margin-top: 30px;
}
.s-2-c button {
  background-color: #002b64;
  color: white;
  border-radius: 5px;
  height: 43px;
  width: 165px;
  border: none;
  margin-top: 30px;
  font-weight: 600;
  cursor: pointer;
  font-size: 16px;
}
.btn-1 {
  margin-left: 20px;
}
.im-1 {
  width: 308px;
}
.f-i-d {
  background: #002b64;
  color: white;
  text-align: justify;
  margin-top: -50px;
  z-index: 5;
  margin-left: 4px;
  position: absolute;
  border-bottom-right-radius: 15px;
  border-bottom-left-radius: 15px;
  width: 299px;
  height: 60px;
}
.f-i-d h2 {
  font-size: 16px;
  font-weight: 700;
  margin-left: 10px;
  margin-top: 5px;
}
.f-i-d p {
  margin-left: 10px;
  color: #949494;
  font-weight: 400;
  font-size: 12px;
}
.img-s img {
  width: 20px;
  height: 20px !important;
  cursor: pointer;
}
.img-s {
  display: flex;
  justify-content: end;
  gap: 5px;
  position: relative;
  bottom: 35px;
  margin-right: 20px;
}
@media (max-width: 900px) {
  .f-i-d {
    width: 262px;
  }
  .im-1 {
    width: 268px !important;
  }
  .s-2-c {
    margin: 14px;
    right: 0px;
    position: relative;
    width: auto;
  }
  .s-2-c button {
    width: 122px;
    font-size: 13px;
    height: 36px;
  }
  .sec-2 {
    position: relative;
    display: block;
  }
  .s-2-c p {
    font-size: 14px;
  }
  .s-2-i {
    justify-content: space-evenly;
    display: flex;
    width: auto;
  }
  .t-s-l {
    display: block !important;
  }
  .s-c-p {
    right: 4%;
    position: relative;
    top: 25px;
    width: auto !important;
  }
  .s-c-p h1 {
    font-size: 31px !important;
  }
  .s-c-p p {
    font-size: 16px !important;
  }
}
@media (max-width: 700px) {
  .f-i-d {
    width: 242px;
  }
  .im-1 {
    width: 249px !important;
  }
  .s-2-i {
    justify-content: space-evenly;
    display: flex;
    width: auto;
  }
}
@media (max-width: 1050px) {
  .f-i-d {
    width: 231px;
  }
  .im-1 {
    width: 237px !important;
  }
  .s-2-c p {
    font-size: 14px;
  }
  .s-2-c {
    bottom: 38px;
  }
  .s-c-p {
    right: 2%;
    position: relative;
    width: 35%;
  }
  .text-1 {
    gap: 35px !important;
  }
  .text-1 p {
    font-size: 45px;
  }
  .s-c-p p {
    font-size: 10px;
  }
  .s-c-p h1 {
    font-size: 25px;
  }
  .text-1 p {
    font-size: 50px !important;
  }
}
@media (max-width: 570px) {
  .s-2-i {
    display: inline-block;
  }
  .s-i-d {
    position: absolute;
    /* left: 85%; */
    top: 93%;
    right: 16px;
  }
  .m-9-11 {
    position: relative;
    left: 20px;
  }
  .t-s-l {
    top: 441px;
  }
  .t-l-r-p {
    position: relative;
    bottom: 390px;
    left: 338px;
  }
  .t-l-r-p-1 {
    position: relative;
    right: 89px;
  }
}
