@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@200;300;400;500;600;700&display=swap");
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Poppins", sans-serif;
}
nav {
  display: inline-block;
  height: 80px;
  position: fixed;
  width: 100%;
  background-color: rgba(255, 255, 255, 0.475);
  align-items: center;
  color: rgb(0, 0, 0);
  padding: 0 50px 0 100px;
  flex-wrap: wrap;
  z-index: 100;
}

nav ul {
  display: flex;
  flex-wrap: wrap;
  list-style: none;
}

input[type="checkbox"] {
  display: none;
}

#click:checked ~ .menu-btn i:before {
  content: "\f00d";
  transition: 1s;
  z-index: 10000;
  position: relative;
  color: white !important;
}

nav ul {
  position: absolute;
  top: 69px;
  right: -100%;
  background-image: url("../../Assets/nav-bg.png");
  background-repeat: no-repeat;
  top: 0;
  background-size: 100% 100vh;
  height: 100vh;
  width: 100%;
  text-align: center;
  display: block;
  transition: all 0.6s ease;
  z-index: 100;
}
#click:checked ~ ul {
  right: 0;
}
nav ul li {
  width: 100%;
  margin: 5px;
  margin-right: -100%;
  font-size: 26px;
  position: relative;
  top: 10%;
  text-align: center;

  color: #ffffff;
  text-decoration: none;
  font-weight: 500;
  padding: 10px;
  border-radius: 5px;
  letter-spacing: 1px;
  cursor: pointer;
}

nav ul li.active,
nav ul li:hover {
  background: none;
  color: rgb(214, 211, 211);
  transition: none !important;
}
.d-p {
  background: none !important;
}
.last-1 {
  width: 50%;
  float: inline-start;
  text-align: justify;
  font-size: 18px;
  top: 17%;
  left: 20px;

  font-size: 13px;
  letter-spacing: 1px;
  font-weight: 600 !important;
}
.last-2 {
  font-size: 13px;
  color: white;
  right: 30px;
  display: flex;
  transition: 0.1s !important;
  justify-content: end;
  top: 15%;
}
.last-2:hover {
  color: white;
}
.l-n {
  text-decoration: underline;
  margin-left: 10px;
}
nav .menu-btn i {
  top: 27px;
  color: #002b64;
  font-size: 28px;
  position: absolute;
  right: 6%;
  cursor: pointer;
  display: block;
}
.line {
  font-weight: 700;
  color: #949494 !important;
  position: relative;
  z-index: 1000;
  left: 63px;
  bottom: 30px;
  transition: 0.8s;
}
.grp {
  font-weight: 700;
  font-family: "Franklin Gothic Medium", "Arial Narrow", Arial, sans-serif;
  font-size: 18px;
  position: relative;
  z-index: 1000;
  transition: 0.8s;
  margin-left: 73px;
  bottom: 30px;
  color: #002b64;
}
.openscnd {
  position: relative;
  top: 10px;
}
.openfirst {
  position: relative;
  top: 10px;
}
.openfirst .grp {
  color: white !important;
  transition: 1s;
}
.openfirst .line {
  transition: 1s;

  color: white !important;
}
.opentwo {
  display: flex;
  float: right;
  align-items: center;
  position: relative;
  bottom: 55px;
  right: 7%;
  gap: 17px;
  font-weight: 700;
  color: #002b64;
  cursor: pointer;
  font-size: 18px;
}
.openone {
  display: flex;
  float: right;
  align-items: center;
  position: relative;
  bottom: 55px;
  right: 7%;
  gap: 17px;
  color: white;
  transition: 0.6s;
  z-index: 1000;
  font-weight: 700;
  cursor: pointer;
  font-size: 18px;
}
.logoo {
  margin-top: 20px;
  margin-left: 15px;
  position: relative;
  z-index: 10000;
}
/* @media (max-width: 1150px) {
  nav {
    padding: 0 40px 0 50px;
  }
}

@media (max-width: 1150px) {
  .hide {
    display: none;
  }
  .show {
    display: inline;
  }
} */
